body{
    background-color: #FFF6DC; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    padding: 0px;
    height: 100vh;
}

.result{
    width: 100vh;
    background-color: #BBDED6;
    height: 90vh;
    overflow-y: auto;
    scroll-behavior: smooth;
    border : 3px black solid;
    padding: 20px;
}

.option{
    display: flex;
    justify-content: center;
    gap: 10%;
}

button{
    height: 80px;
    width: 100px;
    border-radius: 50%;
    transition: 0.5s;
}
button:hover{
    scale: 1.2;
    
}

#rock{
    background-color: #FF6B6B
}
#rock:hover{
    background-color: #FF4C4C;
}
#paper{
    background-color: #4D96FF;
}
#paper:hover{
    background-color: #256DFF;
}
#scissors{
    background-color: #6BCB77;
}
#scissors:hover{
    background-color: #4CAF50;
}

.result {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    line-height: 1.6;
    font-size: 1.1rem;
}

.result p {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.result span {
    display: block;
    margin-top: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    color: green;
    text-align: center;
}

button {
    font-weight: bold;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.title-box{
    position: absolute;
    top: 50px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    padding: 0px 50px;
    left: 90px;
}

.title-box .creator{
    text-align: right;
}
.title-box .creator span{
    font-style: italic;
    font-weight: bold;
}